.scrollbox{
    width: 10px;
    height: 10px;
    overflow: scroll
}

.pageSlides {
    display: none;
  }

  .menu {
      border-style: solid;
      background-color: lightblue;
      text-align: center;
      margin: auto;

  }