.scrollbox {
    width: 700px;
    height: 700px;
    overflow: scroll;
}

.pageSlides {
    display: none;
    margin: auto;
    width: 90%
}

.menu {
    border-style: solid;
    background-color: red;
    text-align: center;
    margin: auto;
}

body {
    background-color: lightcyan;
}
